<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-3 col-sm-6">
                    <a href="https://crest-centre.net">
                        <img src="img/logos/crest.png" class="img-responsive img-centered" alt="CREST">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://cybersecuritycrc.org.au">
                        <img src="img/logos/cscrc.png" class="img-responsive img-centered" alt="CSCRC">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
                <!-- <div class="col-md-6 col-sm-6">
                    <a href="https://cybersecuritycrc.org.au">
                        <img src="img/logos/logo-cscrc.png" class="img-responsive img-centered" alt="CSCRC">
                    </a>
                </div> -->
                <div class="col-md-6 col-sm-6">
                    <a href="https://crest-centre.net">
                        <img src="img/logos/crest.png" class="img-responsive img-centered" alt="CREST">
                    </a>
                </div>
            </div>
        </div>
    </aside>