<!-- Publication Section -->
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <h3 class="section-subheading text-muted">Scientific Articles and Technical Reports.</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <ol>
                    <li>Automated software vulnerability assessment with concept drift. 2019. [<a href="https://ieeexplore.ieee.org/abstract/document/8816739/">Link</a>]</li>
                    <li>Deep Learning for Source Code Modeling and Generation: Models, Applications and Challenges. 2020. [<a href="https://dl.acm.org/doi/abs/10.1145/3383458">Link</a>]</li>
                    <li>PUMiner: Mining Security Posts from Developer Question and Answer Websites with PU Learning. 2020. [<a href="https://dl.acm.org/doi/abs/10.1145/3379597.3387443">Link</a>] [<a href="https://www.youtube.com/watch?v=M95IAxN01DI">Presentation</a>]</li>
          					<li>Challenges in Docker Development: A Large-scale Study Using Stack Overflow. 2020. [<a href="https://dl.acm.org/doi/abs/10.1145/3382494.3410693?casa_token=MIvAbNMR9CkAAAAA:z7G1V67qebsfJ4USRZtSACIaxIdH89mr5SGOkiajYNQa8YUI2-Ss-JeQ1pF3PAHbd4Xl9-40XRBjrw">Link</a>] [<a href="https://www.youtube.com/watch?v=AnCeygDOroc">Presentation</a>]</li>
          					<li>An Evasion Attack against ML-based Phishing URL Detectors. 2020. [<a href="https://arxiv.org/abs/2005.08454">Link</a>]</li>
          					<li>A Large-scale Study of Security Vulnerability Support on Developer Q&A Websites. 2021. [<a href="https://dl.acm.org/doi/abs/10.1145/3463274.3463331">Link</a>] [<a href="https://www.youtube.com/watch?v=jBIvJDHb8AM">Presentation</a>]</li>
          					<li>A Survey on Data-driven Software Vulnerability Assessment and Prioritization. 2021. [<a href="https://arxiv.org/abs/2107.08364">Link</a>] </li>
          					<li>DeepCVA: Automated Commit-level Vulnerability Assessment with Deep Multi-task Learning. 2021. [<a href="https://arxiv.org/abs/2108.08041">Link</a>] [<a href="https://www.youtube.com/watch?v=YhuZvtkfPPo">Presentation</a>]</li>
          					<li>Automated Security Assessment for the Internet of Things. 2021. [<a href="https://arxiv.org/abs/2109.04029">Link</a>]</li>
          					<li>ReinforceBug: A Framework to Generate Adversarial Textual Examples. 2021. [<a href="https://arxiv.org/abs/2103.08306">Link</a>] [<a href="https://www.youtube.com/watch?v=1Ip_6VXg2Po">Presentation</a>]</li>
          					<li>An Empirical Study of Rule-Based and Learning-Based Approaches for Static Application Security Testing. 2021. [<a href="https://dl.acm.org/doi/abs/10.1145/3475716.3475781">Link</a>] [<a href="https://www.youtube.com/watch?v=Ajc4kWLMBZQ">Presentation</a>]</li>
          					<li>Data Preparation for Software Vulnerability Prediction: A Systematic Literature Review. 2021. [<a href="https://arxiv.org/abs/2109.05740">Link</a>]</li>
                    <li>Well Begun is Half Done: An Empirical Study of Exploitability & Impact of Base-Image Vulnerabilities. 2021. [<a href="https://arxiv.org/pdf/2112.12597.pdf">Link</a>] [<a href="https://www.youtube.com/watch?v=dCDQp-3idC4">Presentation</a>]</li>
                    <li>KGSecConfig: A Knowledge Graph Based Approach for Secured Container Orchestrator Configuration. 2021. [<a href="https://arxiv.org/pdf/2112.12595.pdf">Link</a>] [<a href="https://www.youtube.com/watch?v=DAgOliuFEcc">Presentation</a>]</li>
                    <li>An empirical study of developers’ discussions about security challenges of different programming languages. 2022. [<a href="https://link.springer.com/article/10.1007/s10664-021-10054-w">Link</a>] [<a href="https://www.youtube.com/watch?v=WpDx2QIFP7c">Presentation</a>]</li>
                    <li>Noisy Label Learning for Security Defects. 2022. [<a href="https://arxiv.org/pdf/2203.04468.pdf">Link</a>]</li>
                    <li>An Investigation into Inconsistency of Software Vulnerability Severity across Data Sources. 2022. [<a href="https://arxiv.org/pdf/2112.10356.pdf">Link</a>] [<a href="https://www.youtube.com/watch?v=3_XysfuPF-A">Presentation</a>]</li>
                    <li>LineVD: Statement-level Vulnerability Detection using Graph Neural Networks. 2022. [<a href="https://arxiv.org/abs/2203.05181">Link</a>]</li>
                    <li>On the Use of Fine-grained Vulnerable Code Statements for Software Vulnerability Assessment Models. 2022. [<a href="https://arxiv.org/pdf/2203.08417.pdf">Link</a>]</li>
                </ol>
            </div>
        </div>
    </div>
</section>
